.thegrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.griditem {
    border: 3px solid orange;
    padding: 25px;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
}